<xml>
    <server>
        <id>100002</id>
    </server>
    <mysql>
        <host></host>
        <port></port>
        <username></username>
        <passwd></passwd>
    </mysql>
    <redis>
        <host></host>
        <port></port>
        <auth>redis_auth</auth>
    </redis>
    <logpath>./log/</logpath>
</xml>
